---
import CookieBanner from '../components/CookieBanner.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import WaSymbol from '../components/WaSymbol.astro';
import { site } from '../data/site';
import type { SitePage } from '../data/pages';

const { page } = Astro.props as { page: SitePage };
---

<!DOCTYPE html>
<html lang="es" data-ga4-id={site.ga4Id} data-consent-cookie={site.consentCookie}>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#ffd700" />
    <link rel="canonical" href={page.canonical} />
    <link rel="me" href={site.instagram} />
    <Fragment set:html={page.headExtra} />
    <meta name="description" content={page.description} />
    <link rel="preload" href="/assets/fonts/montserrat-latin-400-normal.woff2" as="font" type="font/woff2" crossorigin />
    {page.isHome && (
      <link rel="preload" as="image" href="/assets/img/hero-768.avif" imagesrcset="/assets/img/hero-768.avif 768w, /assets/img/hero-960.avif 960w, /assets/img/hero-1080.avif 1080w, /assets/img/hero-1280.avif 1280w" imagesizes="100vw" />
    )}
    <style is:inline>
      @font-face{font-family:Montserrat;font-style:normal;font-weight:400;font-display:swap;src:url("/assets/fonts/montserrat-latin-400-normal.woff2") format("woff2")}
      @font-face{font-family:Montserrat;font-style:normal;font-weight:700;font-display:swap;src:url("/assets/fonts/montserrat-latin-700-normal.woff2") format("woff2")}
    </style>
    <link rel="stylesheet" href="/assets/css/style.min.css" />
    <link rel="shortcut icon" href="/assets/img/favicon.png" type="image/x-icon" />
    <title>{page.title}</title>
    <script is:inline defer src="/assets/js/main.js"></script>
  </head>
  <body>
    <WaSymbol />
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
    <CookieBanner />
    <script is:inline src="/assets/js/cookie-consent.js" defer></script>
  </body>
</html>
